@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.slideContainer {
	height: 100%;
	width: 100%;
	font-family: 'Comfortaa', cursive;
	font-size: 40px;
	text-align: center;
}

.carouselContainer {
	height: 100%;
	width: 100%;
}
/* !Size */
.eventImage {
	width: 100%;
	height: 30vh;
}
