.carouselImg{
    height: 100%;
    width: 100%;
}
.carouselContainer{
    margin-top:60px;
    display: flex;
    justify-content: center;
}


.carouselWrapper *{
    height: 60vh;

}
.carouselWrapper{
    width:60vh;
    box-shadow: 0 1.5em 1em -1em rgb(70, 69, 69)
    /* margin-left: 6vw; */
}

.eventTitle {
    font-size: 5vw;
    margin-left: 15%;
    width:70%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;   
    text-align: center;
    font-weight: bold;
}

.eventInfo{
    margin-left: 15%;
    width: 70%;
    display:grid;
    text-align: center;
    font-size: 32px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;   
    display:grid;
    /* background-color:blue; */
    grid-template-columns: 33% 33% 33%;
    /* grid-template-columns: 40% 60% */
}

.descriptionTitle{
    font-size: 50px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;    
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.description{
    font-size: 20px;
    margin-left: 15%;
    width: 70%;
    /* text-align: center; */
    /* font-weight: bold; */
}

.toggle{
    padding: 20px;
    cursor: pointer;
    font-weight:bold;
}

.toggle:hover{
    transform: scale(1.2);
}

.toggleBtnContainer{
    /* background-color: red; */
    width: 100%;
    padding: 1vh;
    font-size:5vh;
    display: flex;
    justify-content:center;


}