.carouselImg{
    height: 100%;
    width: 100%;
}
.carouselContainer{
    display: flex;
    justify-content: center;
}


.carouselWrapper *{
    height: 60vh;

}
.carouselWrapper{
    width: 70vw;
    /* margin-left: 6vw; */
}

.eventTitle {
    font-size: 4vw;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.eventInfo{
    display:grid;
    grid-template-columns: 40% 60%
}

.description{
    font-size: 3vw;
    width: 100%;
    text-align: center;
    font-weight: bold;
}