/* .eventManagementContainer {
    width: 100%;
} */

.react-tabs{
    width: 100%
}
.react-tabs__tab-list{
    display:flex;
    justify-content: center;
    font-size: 3vh
}


.gridContainer {
	max-width: 100%;
	margin: 0;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

@supports (display: grid) {
	.gridContainer {
		display: grid;
		grid-gap: 3%;
		grid-template-columns: repeat(1, auto);
		grid-template-rows: auto;
	}
}

/*  620/16 = 37.5 */
@media screen and (min-width: 38.75rem) {
	@supports (display: grid) {
		.gridContainer {
			grid-template-columns: repeat(2, auto);
			grid-gap: 6%;
		}
	}
}

/* 915/16 = 57.18
@media screen and (min-width: 57.18rem) {
	@supports (display: grid) {
		.gridContainer {
			grid-template-columns: repeat(3, auto);
			grid-gap: 4%;
		}
	}
} */

