.gridContainer {
	max-width: 100%;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
}

.cardContainer {
	display: flex;
}

@supports (display: grid) {
	.gridContainer {
		display: grid;
		grid-gap: 3%;
		grid-template-columns: repeat(1, auto);
		grid-template-rows: auto;
	}
}

/*  620/16 = 37.5 */
@media screen and (min-width: 1000px) {
	@supports (display: grid) {
		.gridContainer {
			grid-template-columns: repeat(2, auto);
			grid-gap: 6%;
		}
	}
}
