.search-trigger{
    margin-left: 0;
}

.dropped-menu{
    background-color: red;
    width: 300px;
    height: 200px;
    
}

.search-menu-container{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 20px 20px 20px 20px;
}
