.searchTrigger {
	margin-left: 0;
}

.droppedMenu {
	background-color: red;
	width: 300px;
	height: 200px;
}

.searchMenuContainer {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 20px 20px 20px 20px;
}
