@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.leftSide{
	width: 25vw;
	position:fixed
}


.spacer{
	height: 1.8vw
}

.bookingsBtn{
	cursor: pointer;
	margin: 10% 10% 10% 10%;
	width: 60%;
	padding: 5%;
	color: black;
	border-radius: 10%;
	text-align: center;
}

.content *{
	margin-left: 10%;
	font-family: 'Indie Flower', cursive;
	font-size: 1.3vw;
	color:rgb(42, 41, 41);
	line-height: 1.2;
}

.nameHeader{
	font-size: 5vh;
	padding: 5px 5px 5px 5px;
	margin-bottom: 1.8vh;
	color:black;
}
.address{
	padding: 5px 5px 5px 5px;
	font-size:3vh;
}

.profileText{
	color:black;
	font-weight: bold;	
}

.subText{
	color:gray;
	padding-left: 2vw;
	padding-right: 1vw;
}



.demo-page img{
	width:100%;
	background-color: blue;
}


@media (max-width: 900px) {
	.passport-container{
		top:46%;
		width:15vw;
		left: -28%
	}
}

.profileHeader {
	background: #fff;
	width: 100%;
	display: grid;
	grid-template-columns: 25vw 75vw;
	height: 15vh;
	position: relative;
	border-radius: 0.5rem;
	box-sizing: border-box;
	box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
}

.profileImg{
	width: 20vw;


}

.profileImg img {
	border-radius: 50%;
	height: 12.5vw;
	width: 12.5w;
	border: 5px solid #fff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 4vw;
	top: 5vh;
	z-index: 5;
	background: #fff;
}

.profileNavInfo {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
}

.profile-nav-info h3 {
	font-variant: small-caps;
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: bold;
}

.profile-nav-info .address {
	display: flex;
	font-weight: bold;
	color: #777;
}

.profile-nav-info .address p {
	margin-right: 5px;
}

.profileOption{
	width: 40px;
	height: 40px;
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	outline: none;
	background: #e40046;
}

.profileOption:hover {
	background: #fff;
	border: 1px solid #e40046;
}
.profileOption:hover .notification i {
	color: #e40046;
}

.profileOption:hover span {
	background: #e40046;
}

.profileOption .notification i {
	color: #fff;
	font-size: 1.2rem;
	transition: all 0.5s ease-in-out;
}

.profileOption .notification .alertMessage{
	position: absolute;
	top: -5px;
	right: -5px;
	background: #fff;
	color: #e40046;
	border: 1px solid #e40046;
	padding: 5px;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	font-weight: bold;
}

.mainBd {
	width: 100%;
	display: flex;
	padding-right: 15px;
}

.profileSide {
	position: relative;
	font-size: 1.3vw;
	width: 22vw;
	height: 35vw;
	margin-left: 1.5vw;
	background: #fff;
	border-radius: 0.5rem;
	box-sizing: border-box;
	box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
	padding: 8vw 30px 20px;
	font-family: "Bree Serif", serif;
	z-index: 99;
}

.profileSide p {
	margin-bottom: 7px;
	color: #333;
	font-size: 14px;
}

.profileSide p i {
	color: #e40046;
	margin-right: 10px;
}

.mobile-no i {
	transform: rotateY(180deg);
	color: #e40046;
}

.profile-btn {
	display: flex;
}

button.chatbtn,
button.createbtn {
	border: 0;
	padding: 10px;
	width: 100%;
	border-radius: 3px;
	background: #e40046;
	color: #fff;
	font-family: "Bree Serif";
	font-size: 1rem;
	margin: 5px 2px;
	cursor: pointer;
	outline: none;
	margin-bottom: 10px;
	transition: background 0.3s ease-in-out;
	box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

button.chatbtn:hover,
button.createbtn:hover {
	background: rgba(288, 0, 70, 0.9);
}

button.chatbtn i,
button.createbtn i {
	margin-right: 5px;
}

.user-rating {
	display: flex;
}

.user-rating h3 {
	font-size: 2.5rem;
	font-weight: 200;
	margin-right: 5px;
	letter-spacing: 1px;
	color: #666;
}

.user-rating .no-of-user-rate {
	font-size: 0.9rem;
}

.rate {
	padding-top: 6px;
}

.rate i {
	font-size: 0.9rem;
	color: rgba(228, 0, 70, 1);
}

.nav {
	width: 100%;
	z-index: -1;
}

.nav ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	height: 40px;
	background: #fff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav ul li {
	padding: 10px;
	width: 100%;
	cursor: pointer;
	text-align: center;
	transition: all 0.2s ease-in-out;
}

.nav ul li:hover,
.nav ul li.active {
	box-shadow: 0px -3px 0px rgba(288, 0, 70, 0.9) inset;
}

.profile-body {
	width: 100%;
	z-index: -1;
}

.tab {
	display: none;
}

.tab {
	padding: 20px;
	width: 100%;
	text-align: center;
}


@media (max-width: 900px) {

	

	.profile-header {
		display: flex;
		height: 100%;
		flex-direction: column;
		text-align: center;
		padding-bottom: 20px;
	}

	.profileImg {
		float: left;
		width: 100%;
		height: 200px;
	}

	.profileImg img {
		/* position: relative;
		margin-bottom: 200px;
		height: 120px;
		width: 120px;
		left: 0px; */
		display:none
	}

	.profile-nav-info {
		text-align: center;
	}

	.profileOption {
		right: 20px;
		top: 75%;
		transform: translateY(50%);
	}

	.mainBd {
		flex-direction: column;
		padding-right: 0;
	}

	.profileSide {
		width: 100%;
		text-align: center;
		padding: 20px;
		margin: 5px 0;
	}

	.profile-nav-info .address {
		justify-content: center;
	}

	.user-rating {
		justify-content: center;
	}
}

@media (max-width: 400px) {
	/* body {
		margin: ;
	} */

	.profile-header h3 {
	}

	.profileOption {
		width: 30px;
		height: 30px;
		position: absolute;
		right: 15px;
		top: 83%;
	}

	.profileOption .notification .alertMessage{
		top: -3px;
		right: -4px;
		padding: 4px;
		height: 15px;
		width: 15px;
		font-size: 0.7rem;
	}

	.profile-nav-info h3 {
		font-size: 1.9rem;
	}

	.profile-nav-info .address p,
	.profile-nav-info .address span {
		font-size: 0.7rem;
	}
}
#see-more-bio,
#see-less-bio {
	color: blue;
	cursor: pointer;
	text-transform: lowercase;
}
.tab h1 {
	font-family: "Bree Serif", sans-serif;
	display: flex;
	justify-content: center;
	margin: 20px auto;
}


.rightSide{
	position: absolute;
	right: 0;
	display:flex;
	justify-content: center;
	width:75%;


}

/* ======================== */
/* ! ====== Button ======/ */
/* ======================== */
.btnContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.blue {
	position:absolute;
	bottom: 2vh;
	background-color: #4972c1;
	background: linear-gradient(90deg, #72a1ff, #4972c1, #34579e, #4972c1, #72a1ff);
	background-size: 400% 400%;
	background-position: 0% 50%;
	border-radius: 0 0 0.45em 0;
    padding: 1.7vh;
    border-radius: 1.2em;
    font-size: 1.7em;
	text-align: center;
}


.blue:hover {
	cursor:pointer;
	animation: gradientMove 6s ease infinite;
}
