.regionsTitle{
    height: 30vh;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 6px 3px #8a8a8a;

}
.regionsFeed{
    display: grid;
    grid-gap: 3vw;
    grid-template-columns: 30vw 30vw 30vw ;
    grid-template-rows: 30vw 30vw ;

}

.regionsFeedContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.featureSpacer {

}

@media (max-width: 989px) and (min-width: 768px) {
    .regionsFeed{
        grid-template-columns: 40vw 40vw  ;
        grid-template-rows: 40vw 40vw 40vw ;
    }
}