.input {
    text-align: center;
}

.groupbutton,.button{
	text-transform:uppercase;
}
.sign-up-btn{
    border:none;
	padding:15px 20px;
	border-radius:25px;
	background:black
}

.label {
    padding: 2px 2px 2px 2px;
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: white;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: white
}

::-ms-input-placeholder { /* Microsoft Edge */
color: white
}

.group {
    margin-top:10px
    /* padding: 3px 3px 3px 3px */
}