.eventCardContainer{
    height: 450px;
}

.searchOptions{
    margin-bottom: 30px;
}

.eventsFeedTitle{
    padding: 30px 20px 20px 20px;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
}

.gridContainer {
	max-width: 100%;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

@supports (display: grid) {
	.gridContainer {
		display: grid;
		grid-template-columns: repeat(1, auto);
		grid-template-rows: auto;
		grid-row-gap: 3vh;
	}
}

/*  620/16 = 37.5 */
@media screen and (min-width: 800px) {
	@supports (display: grid) {
		.gridContainer {
			grid-template-columns: repeat(2, auto);
		}
	}
}

/*915/16 = 57.18 */
@media screen and (min-width: 1200px) {
	@supports (display: grid) {
		.gridContainer {
			grid-template-columns: repeat(3, auto);
		}
	}
}

/*  1320/16 = 82.5 */
@media screen and (min-width: 82.5rem) {
	@supports (display: grid) {
		.gridContainer {
			grid-template-columns: repeat(3, auto);
		}
	}
}
