@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
.mainfeed-feature{
  margin-top: 8vh;
  height: 55vh;
width: 100vw;
position: relative ;
border-radius: 0.5rem;
box-sizing: border-box;
box-shadow: 0 3em 3em -1em rgb(70, 69, 69);


}

.background-img{
  height: 100%;
  width: 100%;
  object-fit: fill;  
}

.feature-title{
  font-family: 'Sansita', sans-serif;
  /* font-weight: bold; */
  font-size:5vh;  
  color: white;
  letter-spacing: 5px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;

}

.feature-btn {
    background-color: rgba(255,255,255, 0.5);
    padding: 10px;
    border: 0;
    border-radius: 8px;
    color: rgba(0,0,0,.6);
    cursor: pointer;
    outline: 0;
    font-size: 2.5vh;
    font-weight: 700;
    position:absolute;
    left:30%
}

.feature-btn:hover {
  background-color: white;
  color:black;  
}

.feature-content{
  line-height: 4vh;
  font-size: 3.5vh;
  font-weight: bold;
  color: white;
  padding: 1px 1px 1px 1px;
  margin-left: 10px; 
  letter-spacing: 3px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.mainfeed-feature-info{
  position: absolute;
  /* top:35%;
  width:60%;   */
  left: 7%;
  top: 10%;
}

.explore-btn-container{
  position: relative;
}


.feature-image{
  width: 100%;
  height:100%
}