.row{
    width: 100%;
    padding-top: 5vh;
    padding-left: 5vh;
    font-size: 3vw

    
}

.reviewInfo{
    margin-left: 15%;
    margin-right: 15%;
    display:grid;
    /* padding: 1vh; */
    width: 70%;
    grid-template-columns: 25% 50% 25%;
    
    
}

.reviewWrapper{
    background-color: rgba(13, 51, 128, 0.1) ;
    padding: 10px;
}

.reviewComment{
    margin-left: 15%;
    margin-right: 15%;
}