.row{
    width: 100%;
    padding-top: 5vh;
    padding-left: 5vh;
    
}

.reviewInfo{
    background-color: rgba(13, 51, 128, 0.1) ;
    margin-left: 15%;
    margin-right: 15%;
    display:grid;
    /* padding: 1vh; */
    width: 70%;
    grid-template-columns: 25% 50% 25%;
    

}
/* !IMPORTANT */
.row{
    font-size: 3vw
}


.reviewComment{
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(13, 51, 128, 0.1) ;
}