.formContainer {
	width: 100%;
	height: 100%;
	position: relative;
}
.imageOptions {
	height: 1em;
}

.stepHandler {
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.locationGroup {
	width: 100%;
	display: flex;
}

.input {
	text-align: center;
}

.groupbutton,
.button {
	text-transform: uppercase;
}
.input,
.signInBtn {
	border: none;
	padding: 15px 0px 15px 0px;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
	display: block;
	text-align: center;
	outline-style: none;
	color: #fff;
}

.label {
	padding: 1px 0px 5px 3px;
	text-align: center;
	width: 100%;
	color: #fff;
	display: block;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}

.group {
	margin-top: 10px;
	width: 100%;
}

.check-box:hover {
	cursor: pointer;
}

.error {
	color: red;
	padding: 4px 4px 4px 4px;
}

.errorContainer {
	margin-top: 8px;
}

.label:focus {
	border-style: none;
}

.textAreaContainer {
	border: none;
	padding: 15px 0px 15px 0px;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
	display: block;
	outline-style: none;
}

.textInput {
	border: none;
	height: 10vh;
	padding: 2px 15px 2px 15px;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0);
	width: 100%;
	resize: none;

	outline-style: none;
	color: #fff;
	overflow: hidden;
}

.formContainer .carousel-root {
	background-color: red;
}

/* Size the carousel */
.carousel {
	/* height: 200px; */
	display: flex;
}

.carouselImgContainer {
	height: 350px;
	width: 350px;
}
.carouselImg {
	height: 100%;
	position: relative;
}

.photoOptions {
	display: flex;
}

.urlInput {
	height: 21px;
}

.trash {
	cursor: pointer;
	height: 40px;
	width: 40px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.fileInput {
	cursor: pointer;
}

.timeOptions {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rowIcon {
	width: 30px;
	height: 30px;
	margin-left: 15px;
}

.rowIcon:hover,
.timeTrash:hover {
	transform: scale(1.4);
	cursor: pointer;
}

.monthTitle {
	font-size: 2em;
	font-weight: bold;
	padding: 4px 4px 4px 4px;
}

.timesContainer {
	display: grid;
	grid-template-columns: 50% 50%;
}

.timeRow {
	padding: 4px 4px 4px 4px;
	display: flex;
}

.addPhoto {
	padding: 2px 2px 2px 2px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
  cursor: pointer;
}

.confirm{
  margin-top: 50px;
  cursor:pointer;
  width: 60%;
  margin-left: 20%;
}

.options {
  cursor: pointer;
  font-weight: bold;
  padding: 13px 13px 13px 13px;
}