.navbar{
    width: 100%;
    height: 50px;
    background-color: rgba(87, 109, 207, 0.5);
    display: grid;
    grid-template-columns:  20% 50% 20% 10%
  
  }
  .user-settings {
    grid-column-start: 4
  }
  .searchBar-wrapper {
    margin-top: 4px; 
    min-height:3px;
    width: 100%;
    height: 20px;
  }
  .profile-pic{
    border-radius: 50%;
    height: 90%;
    background-color: gray;
    grid-column-start: 3;
    width: 45px;
    height: 45px;
  
  }
  .igZibq{
    min-height: 30px;
    padding: 5px 5px 5px 5px
    
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

.logo-holder{
	font-family: 'Rochester', cursive;
	color: white;
	font-size: 40px;
	height: 40px;
	margin-top: 10px;
	padding: 5px 5px 15px 5px;
	margin-bottom: 5px;
    text-align: center;
}

.searchBar-wrapper div{
    background-color: rgba(205, 208, 219, 0.2)
}

.logout-btn {
    position: relative;
    top: 10%;
    height: 70%;
    background-color: cornsilk;
    border-radius: 20%;
    border: none;
    width: 80%;

}