@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
.navbar {
	width: 100vw;
	height: 70px;
	background-color: rgba(0, 78, 124, 0.8);
	display: grid;
	grid-template-columns: 20% 50% 20% 10%;
	border-radius: 0.5rem;
box-sizing: border-box;
box-shadow: 0 1.5em 1em -1em rgb(70, 69, 69)
	/* position: relative; */
}
.user-settings {
	grid-column-start: 4;
}

.centered {
	display:flex;
	justify-content:center;
	align-items:center;
}

.searchBar-wrapper {
	margin-top: 5px
}
/*  */
.igZibq {
	min-height: 30px;
	padding: 5px 5px 5px 5px;
}


.logo-holder {
	font-family: "Rochester", cursive;
	color: white;
	font-size: 40px;
	/* position: absolute; */
	transition: 0.6s;

	text-align: center;
}

.logo-holder:hover, .profile:hover {
	font-size:45px;
}

.logout-btn {
	position: relative;
	top: 10%;
	height: 70%;
	background-color: cornsilk;
	border-radius: 20%;
	border: none;
	width: 80%;
}

.profile {
	transition: .6s;
	color: white;
	text-align: center;
	font-size: 40px
	/* margin-top: 4vh; */


}

.logo-holder:hover, .profile:hover {
  cursor:pointer
}