.createEventContainer {
  width: 80vw;
  margin: auto;
  max-width: 525px;
  height:80vh;
  position: relative;
}

.eventWrap {
  height: 100%;
  padding: 10px 70px 50px 70px;
  background: rgba(40,57,101,.9);
}

.eventWrap > div {
  height: 100%;
  position: relative;
}

.title{
  font-family: 'Rochester', cursive;
  font-weight: bolder;
  letter-spacing: 4.7px;
  color: white;
  font-size: 40px;
  height: 40px;
  margin-top: 10px;
  padding: 5px 5px 15px 5px;
  margin-bottom: 5px;
  text-align: center;
}
.multiStepForm {
  height: 100%;
  width: 100%;
}

.formStep {
  height: 90%
}

.dropMenu{
  height: 13vh
}